<a href="https://colab.research.google.com/github/harikrishnareddymallavarapu/tensorflow_projects/blob/main/Auto_MPG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import tensorflow as tf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
#Downloading Auto-MPG Data
auto_mpg = tf.keras.utils.get_file(fname='auto-mpg', #filename for local directory 
                                   origin='https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data')

Downloading data from https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data
32768/30286 [================================] - 0s 4us/step

In [7]:
column_names = ['mpg', 'cylinders', 'displacement', 'HP','weight', 'acceleration', 'modelyear', 'origin']
df = pd.read_csv(auto_mpg, # name of the csv file
 sep=" ", # separator in the csv file
 comment='\t', #remove car name sep. with '\t'
 names=column_names,
 na_values = '?', #NA values are coded as '?'
 skipinitialspace=True)

In [9]:
df.head()

    mpg  cylinders  displacement  ...  acceleration  modelyear  origin
0  18.0          8         307.0  ...          12.0         70       1
1  15.0          8         350.0  ...          11.5         70       1
2  18.0          8         318.0  ...          11.0         70       1
3  16.0          8         304.0  ...          12.0         70       1
4  17.0          8         302.0  ...          10.5         70       1

[5 rows x 8 columns]

In [10]:
df.isna().sum()

mpg             0
cylinders       0
displacement    0
HP              6
weight          0
acceleration    0
modelyear       0
origin          0
dtype: int64

In [13]:
df = df.dropna()
df = df.reset_index(drop=True)
df.head()

   index   mpg  cylinders  ...  acceleration  modelyear  origin
0      0  18.0          8  ...          12.0         70       1
1      1  15.0          8  ...          11.5         70       1
2      2  18.0          8  ...          11.0         70       1
3      3  16.0          8  ...          12.0         70       1
4      4  17.0          8  ...          10.5         70       1

[5 rows x 9 columns]

In [ ]:
def one_hot_origin_encoder(df):